@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* font size */
.head-larger {
  font-size: 3rem;
}
.head-large {
  font-size: 2.9rem;
}
.head-medium {
  font-size: 1.8rem;
}
.head-normal {
  font-size: 1.6rem;
}
.head-small {
  font-size: 1.7rem;
}

.text-larger {
  font-size: 1.3rem;
}
.text-large {
  font-size: 1.05rem;
}
.text-seminormal {
  font-size: 1.2rem;
}
.text-normal {
  font-size: 1rem;
}
.text-medium {
  font-size: 0.9rem;
}
.text-small {
  font-size: 0.85rem;
}
.text-smaller {
  font-size: 0.8rem;
}
.text-smallest {
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  /* text styling */
  .head-large {
    font-size: 2.5rem;
  }
  .head-medium {
    font-size: 1.2rem;
  }
  .head-normal {
    font-size: 1rem;
  }
  .head-small {
    font-size: 0.9rem;
  }

  .text-normal {
    font-size: 0.85rem;
  }
  .text-medium {
    font-size: 0.8rem;
  }
  .text-small {
    font-size: 0.75rem;
  }
  .text-smaller {
    font-size: 0.7rem;
  }
  .text-smallest {
    font-size: 0.68rem;
  }
}

@media screen and (max-width: 440px) {
  /* text styling */
  .head-large {
    font-size: 2rem;
  }
  .head-medium {
    font-size: 1.1rem;
  }
  .head-normal {
    font-size: 1rem;
  }
  .head-small {
    font-size: 0.9rem;
  }
}
