.landing-page {
  width: 100%;
}
.grid-item-1 {
  background-image: url(../../assets/images/dummy3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.grid-item-2 {
  background-image: url(../../assets/images/dummy2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
