.button {
  border-radius: 5px;
}

.primary-button {
  background-color: #0000a3;
  color: white;
  font-weight: 600;
  font-size: .8rem;
}

.secondary-button {
}

.image-button {
  background-color: white;
  color: #3a3a3a;
  font-weight: 600;
  font-size: .8rem;
  border: 1px solid #3a3a3a78;
}

@media screen and (max-width: 440px) {
  .primary-button {
    font-size: .7rem;
  }
  
  .secondary-button {
  }
  
  .image-button {
    font-size: .7rem;
  }
}